.navbtn{
    display: flex;
    justify-content: space-between;
    padding: 26px;
    border-bottom: 2px solid black;
}

.nav {
    padding: 1px 6px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
    border: black 2px solid;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover {
        background-position: left bottom;
        color: white;
    }
}

span{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}